<div class="row page-width  text-center">
  <div class="col-12">
    
    <div class="buttons">
      {%- if section.settings.button_label_1 != blank -%}
        <a href="{{ blog.next_article }}" class="button">{{ section.settings.button_label_1 | escape }}</a>
      {%- endif -%}
      {%- if section.settings.button_label_2 != blank -%}
        <a{% if section.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link_2 }}"{% endif %} class="button{% if section.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ section.settings.button_label_2 | escape }}</a>
      {%- endif -%}
    </div>        
      
  </div>
</div>

{% schema %}
{
  "name": "Buttons",
  "tag": "section",
  "class": "section-buttons",
  "settings": [
    {
      "type": "text",
      "id": "button_label_1",
      "default": "Read Next",
      "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
      "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "default": "Button label",
      "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
      "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
    }
  ],
  "presets": [
    {
      "name": "Buttons"      
    }
  ]
}
{% endschema %}
