.header__icon--menu {
    position: initial;
}

.js {
    menu-drawer {
        >details {
            >summary {
                &::before {
                    content: '';
                    position: absolute;
                    cursor: default;
                    width: 100%;
                    height: calc(100vh - 100%);
                    height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
                    top: 100%;
                    left: 0;
                    background: rgba(var(--color-foreground), 0.5);
                    opacity: 0;
                    visibility: hidden;
                    z-index: 2;
                    transition: opacity 0s, visibility 0s;
                }
            }
        }

        >details[open] {
            &:not(.menu-opening) {
                >summary {
                    &::before {
                        content: '';
                        position: absolute;
                        cursor: default;
                        width: 100%;
                        height: calc(100vh - 100%);
                        height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
                        top: 100%;
                        left: 0;
                        background: rgba(var(--color-foreground), 0.5);
                        opacity: 0;
                        visibility: hidden;
                        z-index: 2;
                        transition: opacity 0s, visibility 0s;
                    }
                }
            }
        }
    }

    .menu-drawer {
        height: calc(100vh - 100%);
        height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
    }

    details[open] {
        >.menu-drawer {
            transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
        }

        >.menu-drawer__submenu {
            transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
        }
    }

    details[open].menu-opening {
        >.menu-drawer {
            transform: translateX(0);
            visibility: visible;
        }
    }

    .menu-drawer__navigation {
        .submenu-open {
            visibility: hidden;
        }
    }

    .menu-drawer__menu {
        li {
            margin-bottom: 0.2rem;
            .list-menu__item {
                color: #000000;
                font-family: 'Neutra';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 28px;
                text-transform: uppercase;
            }
        }
    }

    .menu-drawer__menu-item {
        
        .icon-caret {
            display: none;
        }
    }

    .menu-drawer__submenu {
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: rgb(var(--color-background));
        border-left: 0.1rem solid rgba(var(--color-foreground), 0.2);
        z-index: 1;
        transform: translateX(100%);
        visibility: hidden;

        .menu-drawer__submenu {
            overflow-y: auto;
        }
    }
}

menu-drawer {
    >details[open] {
        >summary {
            &::before {
                visibility: visible;
                opacity: 1;
                transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
            }
        }
    }
}

.menu-drawer {
    position: absolute;
    transform: translateX(-100%);
    visibility: hidden;
    z-index: 3;
    left: 0;
    top: 100%;
    width: calc(100vw - 80px);
    padding: 0;
    border-width: 0 var(--drawer-border-width) 0 0;
    background-color: rgb(var(--color-background));
    overflow-x: hidden;
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
    filter: drop-shadow(var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius) rgba(var(--color-shadow), var(--drawer-shadow-opacity)));

    summary.menu-drawer__menu-item {
        padding-right: 5.2rem;
    }

    .list-social {
        justify-content: flex-start;
        margin-left: -1.25rem;
        margin-top: 2rem;

        &:empty {
            display: none;
        }
    }

    .list-social__link {
        padding: 1.3rem 1.25rem;
    }
}

.no-js {
    details[open] {
        >.menu-drawer {
            transform: translateX(0);
            visibility: visible;
        }
    }

    .menu-drawer__navigation {
        padding: 0;

        >ul {
            >li {
                border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
            }
        }
    }

    .menu-drawer__submenu {
        ul {
            >li {
                border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
            }
        }

        .menu-drawer__menu-item {
            padding: 20px;
        }

        .menu-drawer__submenu {
            .menu-drawer__menu-item {
                padding-left: 9rem;
            }
        }
    }

    .menu-drawer__menu-item {
        font-size: 1.6rem;

        .icon-caret {
            right: 3rem;
        }
    }

    .menu-drawer {
        .icon-arrow {
            display: none;
        }
    }

    .menu-drawer__close-button {
        display: none;
    }
}

details[open].menu-opening {
    >.menu-drawer__submenu {
        transform: translateX(0);
        visibility: visible;
    }
}

.menu-drawer__inner-container {
    position: relative;
    height: 100%;
}

.menu-drawer__navigation-container {
    display: grid;
    grid-template-rows: 1fr auto;
    align-content: space-between;
    overflow-y: auto;
    height: 100%;
}

.menu-drawer__navigation {
    padding: 5.6rem 0;
}

.menu-drawer__inner-submenu {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.menu-drawer__menu-item {
    padding: 20px;
    text-decoration: none;
    font-size: 1.8rem;

    &:focus {
        color: rgb(var(--color-foreground));
        background-color: rgba(var(--color-foreground), 0.04);
    }

    &:hover {
        color: rgb(var(--color-foreground));
        background-color: rgba(var(--color-foreground), 0.04);
    }

    >.icon-arrow {
        position: absolute;
        right: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.menu-drawer__menu-item--active {
    color: rgb(var(--color-foreground));
    background-color: rgba(var(--color-foreground), 0.04);

    &:hover {
        background-color: rgba(var(--color-foreground), 0.08);
    }
}

.menu-drawer__close-button {
    &:focus {
        color: rgb(var(--color-foreground));
        background-color: rgba(var(--color-foreground), 0.04);
    }

    &:hover {
        color: rgb(var(--color-foreground));
        background-color: rgba(var(--color-foreground), 0.04);
    }

    margin-top: 1.5rem;
    padding: 1.2rem 2.6rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    width: 100%;
    background-color: transparent;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    text-align: left;

    .icon-arrow {
        transform: rotate(180deg);
        margin-right: 1rem;
    }
}

.menu-drawer__utility-links {
    background-image: url("data:image/svg+xml,%3Csvg width='213' height='248' viewBox='0 0 213 248' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1923_41)'%3E%3Cpath d='M197.6 0.900098L159.1 107.9L103.3 59.1001L197.6 0.900098ZM200.2 4.8001L162.2 110.5L200.2 143.7C200.2 81.1001 200.2 65.7001 200.2 4.8001ZM96.5 58.3001L2 0.600098L40.8 107.4L96.5 58.3001ZM0 143.2L37.8 110L0 5.9001C0 64.8001 0 80.5001 0 143.2ZM157.1 110.6L100.1 60.3001L43.1 110.5L100.1 180.3L157.1 110.6ZM159.8 113.1L100.1 186.3L40.3 113L1.2 147.5C34.4 180.9 67.6 214.3 100.5 247.3C133.3 214.3 166.5 181 199.4 148L159.8 113.1Z' fill='black'/%3E%3Cpath d='M210 7.3H208.9L207.9 5.9C207.8 5.9 207.6 5.9 207.5 5.9H206.9V7.3H206V1.5H207.5C209.1 1.5 210 2.4 210 3.7C210 4.6 209.6 5.3 208.8 5.6L210 7.3ZM207.5 5.1C208.6 5.1 209.1 4.6 209.1 3.7C209.1 2.8 208.6 2.3 207.5 2.3H207V5.1H207.5Z' fill='black'/%3E%3Cpath d='M207.7 9C205.2 9 203.2 7 203.2 4.5C203.2 2 205.2 0 207.7 0C210.2 0 212.2 2 212.2 4.5C212.2 7 210.2 9 207.7 9ZM207.7 0.8C205.7 0.8 204 2.5 204 4.5C204 6.5 205.7 8.2 207.7 8.2C209.7 8.2 211.4 6.5 211.4 4.5C211.4 2.5 209.8 0.8 207.7 0.8Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1923_41'%3E%3Crect width='212.2' height='247.3' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 42px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 34px;
}

.menu-drawer__account {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 1.2rem;
    margin-left: -1.2rem;
    font-size: 1.4rem;
    color: rgb(var(--color-foreground));

    .icon-account {
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
    }

    &:hover {
        .icon-account {
            transform: scale(1.07);
        }
    }
}

@media screen and (min-width: 750px) {
    .menu-drawer {
        width: 40rem;
    }

    .no-js {
        .menu-drawer {
            height: auto;
        }
    }
}