.header__icon--menu {
    position: initial;
}

.js {
    menu-drawer {
        >details {
            >summary {
                &::before {
                    content: '';
                    position: absolute;
                    cursor: default;
                    width: 100%;
                    height: calc(100vh - 100%);
                    height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
                    top: 100%;
                    left: 0;
                    background: rgba(var(--color-foreground), 0.5);
                    opacity: 0;
                    visibility: hidden;
                    z-index: 2;
                    transition: opacity 0s, visibility 0s;
                }
            }
        }

        >details[open] {
            &:not(.menu-opening) {
                >summary {
                    &::before {
                        content: '';
                        position: absolute;
                        cursor: default;
                        width: 100%;
                        height: calc(100vh - 100%);
                        height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
                        top: 100%;
                        left: 0;
                        background: rgba(var(--color-foreground), 0.5);
                        opacity: 0;
                        visibility: hidden;
                        z-index: 2;
                        transition: opacity 0s, visibility 0s;
                    }
                }
            }
        }
    }

    .menu-drawer {
        height: calc(100vh - 100%);
        height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
    }

    details[open] {
        >.menu-drawer {
            transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
        }

        >.menu-drawer__submenu {
            transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
        }
    }

    details[open].menu-opening {
        >.menu-drawer {
            transform: translateX(0);
            visibility: visible;
        }
    }

    .menu-drawer__navigation {
        .submenu-open {
            visibility: hidden;
        }
    }

    .menu-drawer__menu {
        li {
            margin-bottom: 0.2rem;
            .list-menu__item {
                color: #000000;
                font-family: 'Neutra';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 28px;
                text-transform: uppercase;
            }
        }
    }

    .menu-drawer__menu-item {
        
        .icon-caret {
            display: none;
        }
    }

    .menu-drawer__submenu {
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: rgb(var(--color-background));
        border-left: 0.1rem solid rgba(var(--color-foreground), 0.2);
        z-index: 1;
        transform: translateX(100%);
        visibility: hidden;

        .menu-drawer__submenu {
            overflow-y: auto;
        }
    }
}

menu-drawer {
    >details[open] {
        >summary {
            &::before {
                visibility: visible;
                opacity: 1;
                transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
            }
        }
    }
}

.menu-drawer {
    position: absolute;
    transform: translateX(-100%);
    visibility: hidden;
    z-index: 3;
    left: 0;
    top: 100%;
    width: calc(100vw - 80px);
    padding: 0;
    border-width: 0 var(--drawer-border-width) 0 0;
    background-color: rgb(var(--color-background));
    overflow-x: hidden;
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
    filter: drop-shadow(var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius) rgba(var(--color-shadow), var(--drawer-shadow-opacity)));

    summary.menu-drawer__menu-item {
        padding-right: 5.2rem;
    }

    .list-social {
        justify-content: flex-start;
        margin-left: -1.25rem;
        margin-top: 2rem;

        &:empty {
            display: none;
        }
    }

    .list-social__link {
        padding: 1.3rem 1.25rem;
    }
}

.no-js {
    details[open] {
        >.menu-drawer {
            transform: translateX(0);
            visibility: visible;
        }
    }

    .menu-drawer__navigation {
        padding: 0;

        >ul {
            >li {
                border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
            }
        }
    }

    .menu-drawer__submenu {
        ul {
            >li {
                border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
            }
        }

        .menu-drawer__menu-item {
            padding: 20px;
        }

        .menu-drawer__submenu {
            .menu-drawer__menu-item {
                padding-left: 9rem;
            }
        }
    }

    .menu-drawer__menu-item {
        font-size: 1.6rem;

        .icon-caret {
            right: 3rem;
        }
    }

    .menu-drawer {
        .icon-arrow {
            display: none;
        }
    }

    .menu-drawer__close-button {
        display: none;
    }
}

details[open].menu-opening {
    >.menu-drawer__submenu {
        transform: translateX(0);
        visibility: visible;
    }
}

.menu-drawer__inner-container {
    position: relative;
    height: 100%;
}

.menu-drawer__navigation-container {
    display: grid;
    grid-template-rows: 1fr auto;
    align-content: space-between;
    overflow-y: auto;
    height: 100%;
}

.menu-drawer__navigation {
    padding: 5.6rem 0;
}

.menu-drawer__inner-submenu {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.menu-drawer__menu-item {
    padding: 20px;
    text-decoration: none;
    font-size: 1.8rem;

    &:focus {
        color: rgb(var(--color-foreground));
        background-color: rgba(var(--color-foreground), 0.04);
    }

    &:hover {
        color: rgb(var(--color-foreground));
        background-color: rgba(var(--color-foreground), 0.04);
    }

    >.icon-arrow {
        position: absolute;
        right: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.menu-drawer__menu-item--active {
    color: rgb(var(--color-foreground));
    background-color: rgba(var(--color-foreground), 0.04);

    &:hover {
        background-color: rgba(var(--color-foreground), 0.08);
    }
}

.menu-drawer__close-button {
    &:focus {
        color: rgb(var(--color-foreground));
        background-color: rgba(var(--color-foreground), 0.04);
    }

    &:hover {
        color: rgb(var(--color-foreground));
        background-color: rgba(var(--color-foreground), 0.04);
    }

    margin-top: 1.5rem;
    padding: 1.2rem 2.6rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    width: 100%;
    background-color: transparent;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    text-align: left;

    .icon-arrow {
        transform: rotate(180deg);
        margin-right: 1rem;
    }
}

.menu-drawer__utility-links {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='42' viewBox='0 0 34 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.5769 0.0636042L27.0392 18.2756L17.5607 9.96466L33.5769 0.0636042ZM34 0.720848L27.547 18.7208L34 24.3816C34 13.7173 34 11.0883 34 0.720848ZM16.397 9.83746L0.338519 0L6.93964 18.1908L16.397 9.83746ZM0 24.2756L6.43186 18.6148L0 0.911661C0 10.9399 0 13.6113 0 24.2756ZM26.6795 18.742L16.9894 10.1767L7.29932 18.7208L16.9894 30.6148L26.6795 18.742ZM27.145 19.1449L16.9894 31.6113L6.83385 19.1449L0.190417 25.0177C5.83945 30.6996 11.4885 36.3816 17.0529 42C22.6385 36.3816 28.2663 30.7208 33.8519 25.0813L27.145 19.1449Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 42px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 34px;
}

.menu-drawer__account {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 1.2rem;
    margin-left: -1.2rem;
    font-size: 1.4rem;
    color: rgb(var(--color-foreground));

    .icon-account {
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
    }

    &:hover {
        .icon-account {
            transform: scale(1.07);
        }
    }
}

@media screen and (min-width: 750px) {
    .menu-drawer {
        width: 40rem;
    }

    .no-js {
        .menu-drawer {
            height: auto;
        }
    }
}