body {
  background-color: #fff !important;
}

.page-width {
  box-sizing: border-box;
  padding: 0 75px;
}

.page-width-full-screen {
  max-width: 100% !important;
  width: 100%;
}

.card-button {
  box-sizing: border-box;
  border: 2px solid #000;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 35px;
  height: 35px;
}

.quick-add__submit {
  color: #000;
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
  padding: 0 !important;
  text-transform: uppercase;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #000;
  align-items: center;
  max-width: 100%;
}
header.page-width {
  max-width: 100%;
}
header.header {
  display: flex;
}

.header__inline-menu {
  margin-left: auto !important;
}

.list-menu--inline li {
  margin-left: 35px;
}
.list-menu--inline li:first-child {
  margin-left: 0;
}

.header__menu-item {
  font-size: 16px;
  font-family: "Neutra", sans-serif;
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
}

footer.footer {
  background-color: #000;
  padding-top: 60px;
}

.footer-block__heading {
  display: block;
  font-family: "Neutra", sans-serif;
  font-size: 20px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.footer-block__details-content {
  color: #fff;
  font-size: 14px;
  max-width: 160px;
  width: 100%;
}

.footer-block__details-content a {
  color: #fff;
}

@font-face {
  font-family: "Neutra";
  src: url("NeutrDisMedAlt.eot");
  src: url("NeutrDisMedAlt.eot?#iefix") format("embedded-opentype"), url("NeutrDisMedAlt.woff2") format("woff2"), url("NeutrDisMedAlt.woff") format("woff"), url("NeutrDisMedAlt.svg#NeutraDisp-MediumAlt") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Neutra";
  src: url("NeutraDisplayBoldAlt.eot");
  src: url("NeutraDisplayBoldAlt.eot?#iefix") format("embedded-opentype"), url("NeutraDisplayBoldAlt.woff2") format("woff2"), url("NeutraDisplayBoldAlt.woff") format("woff"), url("NeutraDisplayBoldAlt.svg#NeutraDisp-BoldAlt") format("svg");
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-family: "Neutra", sans-serif;
  font-size: 80px;
}
h1 span {
  font-size: 80px;
}

h2 {
  font-family: "Neutra", sans-serif;
  font-weight: 700;
  font-size: 80px;
}
h2 span {
  font-size: 80px;
}
h2.h2 {
  font-family: "Neutra", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
h2.h2 span {
  font-family: "Neutra", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.awards-section {
  padding: 65px 0 85px;
}

.awards-section .wrap {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 575px) {
  .awards-section {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .awards-section .wrap {
    max-width: 100%;
    max-width: 350px;
  }
  .awards-section .award {
    margin-left: 3%;
    margin-right: 3%;
    max-width: 14%;
  }
}
@media (min-width: 901px) {
  .awards-section .wrap {
    max-width: 800px;
  }
}
.award {
  transition: transform 0.2s ease;
}
.award img {
  max-height: 71px;
  max-width: 100%;
}

.award:hover {
  transform: scale(1.3);
}

.home-featured-collection {
  box-sizing: border-box;
  margin: 0 -40px;
}
.home-featured-collection .media.media--hover-effect > img + img {
  opacity: 0;
}
.home-featured-collection li {
  box-sizing: border-box;
  padding: 0 40px;
  width: 25%;
}

.video-section {
  padding: 0;
  padding-bottom: 50px;
}

.tiles-section img {
  max-width: 100%;
  max-height: 100%;
}
.tiles-section .tile-item-col {
  margin-bottom: 50px;
}
.tiles-section .bg-wrap {
  position: relative;
  min-height: 100%;
}
.tiles-section h2 {
  max-width: 340px;
}
.tiles-section p {
  font-size: 14px;
  line-height: 140%;
  margin-top: 0;
  max-width: 320px;
}
.tiles-section .button {
  box-sizing: border-box;
  color: #000;
  line-height: 35px;
  font-size: 16px;
  height: 35px;
  min-height: auto;
  padding: 0 35px;
  transition: 0.2s ease;
}
.tiles-section .button:not(:hover) {
  background-color: #fff;
}
.tiles-section .button:hover {
  color: #fff;
}
.tiles-section .bg-position {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#tiles-section .tile-title {
  font-size: 44px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 0 !important;
}

@media (min-width: 576px) {
  .tiles-section .tile-item {
    padding: 36px 45px;
    min-height: calc((50vw - 50px) / 4 * 5);
  }
  .tiles-section .overlay {
    background-color: rgba(0, 0, 0, 0.15);
  }
  .tiles-section .light-text {
    color: #fff;
  }
  .tiles-section .light-text .tile-title {
    color: #fff;
  }
  .tiles-section .text-bottom {
    display: flex;
    align-items: flex-end;
  }
}
@media (min-width: 800px) {
  .tiles-section .tile-item {
    min-height: calc((50vw - 125px - 20px) / 4 * 5);
  }
}
@media (min-width: 1025px) {
  .tiles-section .tile-item {
    min-height: 575px;
  }
  .tiles-section .tile-item-col:first-child {
    padding-right: 25px;
  }
  .tiles-section .tile-item-col:last-child {
    padding-left: 25px;
  }
}
@media (min-width: 1230px) {
  .tiles-section .tile-item {
    min-height: 700px;
  }
}
@media (max-width: 575px) {
  .tiles-section .tile-item {
    min-height: calc((100vw - 40px) / 4 * 5);
  }
  .tiles-section .button {
    margin-top: 16px;
  }
  .bg-mobile-wrap {
    padding-bottom: 100%;
    position: relative;
    margin-bottom: 20px;
  }
  #tiles-section .tile-text {
    color: #000;
  }
  #tiles-section .button {
    background-color: #000 !important;
    color: #fff !important;
  }
  .button.card-button {
    background-color: #000 !important;
    color: #fff !important;
  }
}
@media (max-width: 790px) {
  #tiles-section .tile-title {
    font-size: 44px;
  }
}
.header__icon--cart {
  height: 40px;
  width: 40px;
}
.header__icon--cart .icon {
  height: 20px;
  width: 20px;
}

.rich-text__blocks {
  max-width: 100% !important;
}

#instagram-title-section a {
  color: #000;
  text-decoration: none !important;
}

#instagram-title-section {
  position: relative;
  top: 140px;
  z-index: 2;
}

#instagram-title-section .insta-title {
  padding-bottom: 0;
  margin-bottom: 16px;
  font-size: 60px;
  line-height: 0.9;
  text-transform: uppercase;
}

#instagram-title-section .insta-title a:hover,
#instagram-title-section .insta-subtitle a:hover {
  color: #000;
}

#instagram-title-section .insta-subtitle {
  font-family: "Neutra", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  text-transform: uppercase;
}

@media (max-width: 790px) {
  #instagram-title-section .insta-title {
    font-size: 40px;
  }
  #instagram-title-section .insta-subtitle {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .instagram-title-section {
    position: relative;
  }
  #instagram-title-section {
    position: absolute;
    top: calc(50vw - 20px);
    transform: translateY(-50%);
  }
  #instagram-title-section .insta-title,
#instagram-title-section .insta-subtitle,
#instagram-title-section .insta-title a,
#instagram-title-section .insta-subtitle a {
    color: #fff !important;
  }
}
@media (min-width: 576px) {
  #instagram-title-section {
    margin-top: -100px;
  }
  #instagram-title-section .title-wrap {
    display: inline-block;
    max-width: 33.33%;
  }
}
#insta-feed {
  margin-top: 0 !important;
  padding-left: 105px;
  padding-right: 105px;
}

#insta-feed .instafeed-container {
  clip-path: polygon(5% 0, 95% 0, 95% 90%, 5% 90%);
}

#insta-feed img {
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 790px) {
  #insta-feed {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 575px) {
  #insta-feed a:nth-child(2) .instafeed-container {
    width: 100% !important;
    padding-top: 100% !important;
  }
  #insta-feed a:not(:nth-child(2)) {
    display: none;
  }
  #insta-feed .instafeed-overlay,
.instafeed-shopify .instafeed-overlay {
    opacity: 0.2 !important;
    background-color: #000;
  }
  #insta-feed .instafeed-overlay:before,
.instafeed-shopify .instafeed-overlay:before {
    display: none !important;
  }
}
@media (min-width: 576px) {
  #insta-feed a:hover img {
    transform: scale(1.07);
  }
  body #insta-feed {
    margin-bottom: 170px;
  }
  #insta-feed a:nth-child(2) {
    font-size: 0;
  }
  #insta-feed a:nth-child(2) .instafeed-container {
    top: 140px;
  }
  .products_home .container-fluid-custom_ {
    margin-left: -10px;
    margin-right: -10px;
  }
}
#insta-feed .instafeed-overlay::before,
.instafeed-shopify .instafeed-overlay::before,
#insta-feed .instafeed-overlay::after,
.instafeed-shopify .instafeed-overlay::after {
  display: none;
}

.announcement-bar__message {
  box-sizing: border-box;
  font-family: "Neutra", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 0;
}

@keyframes runningLine {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.running-line-section {
  margin-top: 60px;
  margin-bottom: 60px;
  overflow: hidden;
}
.running-line-section .inner-wrap {
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-family: "Neutra", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 0;
  white-space: nowrap;
}
.running-line-section .text-wrap {
  display: flex;
  justify-content: space-around;
  animation-name: runningLine;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.running-line-section .text-item {
  padding-left: 50px;
}

.running-line {
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 575px) {
  .running-line-section {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.newsletter-form__field-wrapper .field__input {
  box-sizing: border-box;
  background-color: #fff;
  color: #808080;
  padding: 16px 13px;
}
.newsletter-form__field-wrapper::placeholder {
  color: #808080;
}
.newsletter-form__field-wrapper .field__label {
  color: #808080 !important;
}