footer {
    &.footer {
        background-color: $black;
        padding-top: 60px;
    }
}
.footer-block__heading {
    display: block;
    font-family: 'Neutra', sans-serif;
    font-size: 20px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.footer-block__details-content {
    color: #fff;
    font-size: 14px;
    max-width: 160px;
    width: 100%;
}
.footer-block__details-content a {
    color: #fff;
}

.footer-logo-link {
    img {
        display: block;
        margin: auto;
        max-width: 230px;
        width: 100%;
    }
    @media screen and (max-width: 991px) {
        display: block;
        margin: auto;
        max-width: 160px;
    }
}

.footer__content-bottom {
    border-top: 0!important;
}