@font-face {
    font-family: 'Neutra';
    src: url('NeutrDisMedAlt.eot');
    src: url('NeutrDisMedAlt.eot?#iefix') format('embedded-opentype'),
        url('NeutrDisMedAlt.woff2') format('woff2'),
        url('NeutrDisMedAlt.woff') format('woff'),
        url('NeutrDisMedAlt.svg#NeutraDisp-MediumAlt') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Neutra';
    src: url('NeutraDisplayBold.eot');
    src: url('NeutraDisplayBold.eot?#iefix') format('embedded-opentype'),
        url('NeutraDisplayBold.woff2') format('woff2'),
        url('NeutraDisplayBold.woff') format('woff'),
        url('NeutraDisplayBold.svg#NeutraDisp-Bold') format('svg');
    font-weight: 700;
    font-style: normal; 
}
@font-face {
    font-family: 'Neutra Alt';
    src: url('NeutraDisplayBoldAlt.eot');
    src: url('NeutraDisplayBoldAlt.eot?#iefix') format('embedded-opentype'),
        url('NeutraDisplayBoldAlt.woff2') format('woff2'),
        url('NeutraDisplayBoldAlt.woff') format('woff'),
        url('NeutraDisplayBoldAlt.svg#NeutraDisp-BoldAlt') format('svg');
    font-weight: 700;
    font-style: normal;
}

.xlh,
.h0,
.h1 {
    font-family: 'Neutra', sans-serif; 
    text-transform: uppercase;
    font-weight: 700;
}
h1 {
    font-family: 'Neutra', sans-serif;
    font-size: 80px;
    span {
        font-size: 28px;
    }
    @media screen and (max-width: 768px) {
        font-size: 40px;
        span {
            font-size: 28px;
        }
    }
}
h2 {
    font-family: 'Neutra', sans-serif;
    font-weight: 700;
    font-size: 80px;
    span {
        font-size: 80px;
    }
    &.h2 {
        font-family: 'Neutra', sans-serif;
        font-size: 20px;
        font-weight: 700;
        span {
            font-family: 'Neutra', sans-serif;
            font-size: 20px;
            font-weight: 700;
        }
    }
    @media screen and (max-width: 768px) {
        font-size: 28px;

        span {
            font-size: 28px;
        }
    }
}
.button {
    text-decoration: none;
    &:after {
        box-shadow: none;
    }
}