body {
    background-color: #fff!important;
}
// Grid
.page-width {
    box-sizing: border-box;
    padding: 0 75px;
    @media screen and (max-width: 991px) {
        padding: 0 20px;
    }
}
.page-width-full-screen {
    max-width: 100%!important;
    width: 100%;
}
// Colors
$black: #000;


.card-wrapper:hover {
    text-decoration: none!important;
}
// Buttons
.card-button {
    box-sizing: border-box;
    border: 2px solid $black;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    height: 35px;
    text-decoration: none;
    &:hover {
        background: #000;
        color: #fff;
        text-decoration: none!important;
    }
    @media screen and (max-width: 768px) {
    }
}
.quick-add {
    @media screen and (max-width: 768px) {
    }
}
.quick-add__submit {
    background-color: transparent;
    border: 0;
    color: $black;
    display: block;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 18px;
    margin-top: 15px;
    padding: 0!important;
    padding-bottom: 5px;
    position: relative;
    text-transform: uppercase;
    span {
        padding-bottom: 5px;
    }
    &:before {
        content: '+';
    }
    @media screen and (max-width: 768px) {
        display: inline-block;
        min-width: 100px!important;
        width: 100%;
    }
}
// Imports
@import '_header';
@import '_footer';
// Typography
@import '_typography';
// Sections
@import 'sections/_awards-section';
@import 'sections/_home-featured-collection';
@import 'sections/_video-section';
@import 'sections/_info-two-blocks';
@import 'sections/_blog';
// Components
@import 'components/_cart';
@import 'components/_rich-text';
@import 'components/_instafeed';
@import 'components/_announcement-bar';
@import 'components/_running-line';
@import 'components/_newsletter';
@import 'components/_menu';
@import 'components/_featured-collection';
@import 'components/_product';